# Dependencies
node_modules/

# Environment Variables (Private Keys)
.env
.env.local
.env.main
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/
.DS_Store